service cloud.firestore {
  match /databases/{database}/documents {
    match /emails/{emailId} {
      allow create: if request.resource.data.email is string &&
                       request.resource.data.email == emailId &&
                       request.resource.data.timestamp is timestamp;
      allow read: if true; // Allows anyone to read
      allow update, delete: if false;
    }
  }
}